################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practipark/.vs/Practipark/CopilotIndices/17.14.1431.25910
/Practipark/.vs/Practipark/v17/.suo
